/.idea/
/.DS_Store
/*/*/.DS_Store
/*/.DS_Store
/*.log
/*/*.log
/*/*/*.log
/*/*/*/*.log
/bin/cache
/bin/config
/bin/data
/bin/web
/bin/wing-binlog-go
/bin/wing-binlog-go.pid
/bin/logs/
/pkg
/vendor/pkg/
/*.pid
/back
/vendor/library
/vendor/golang.org
/vendor/github.com
/tools
/tests/bin/*
/tests/bin/cache/*
/dev/*
/clients/web/*.log
/bin/wing-binlog-go.exe
/vendor/bin/*
/bin/config2/*
/bin/config3/*
/bin/config3/*
/bin/cache_test.pos